@import url('https://fonts.googleapis.com/css?family=Comfortaa');
html, body {
    height: 100%;
    background-color: #000;
}	
* {
    margin: 0;
}
body {
  overflow: hidden;
  font-family: 'Comfortaa', cursive;
}

#dragable {
  position: relative;
  background-color: #000;
  text-align: center;
	width: 1024px;
	height: 768px; 
  cursor: move; 
  left: -50%; /*centerOnLoad*/

}

#iframe {
	position: relative;
	top: 0;
  left: 0;
	width: 100%;
	min-height: 100%;
  -webkit-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  transition: all .5s ease-out;    
  transform: rotate(0deg);
/*	width: 3840px;
	height: 2160px;*/
}


/*overlay iframu pro potlačení kliknutí do videa*/
#overlay{
	/*background-color: rgba(0,0,255,0.25);*/
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#centerOnLoad {
  position: absolute;
  left: 50%;
  top: 128px;
}




/*navbar*/
#menu {
  position: relative;
  width: 96%;
  background-color: #222;
  margin: auto;
  height: 96px;
  z-index: 999;
  box-shadow: 0 0 8px #fff;
  border: 4px solid #222;
  border-top: none;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  top: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
}
#menu:hover { 
  box-shadow: 0 0 8px #fff !important;
    opacity:1 !important;
    /*filter: alpha(opacity=50);*/
}
#innerMenu {
  height: 95px;
  background-color: #111;
  background-image: linear-gradient(to bottom, #111111, #1a1a1a, #222222, #2a2a2a, #333333);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: inset 0 0 4px #000;
  text-align: center;
  padding: 0;
}

#menuControl {
  position: absolute;
  width: 100%;
  height: 16px;
  background-color:  rgba(0,0,0,0.25);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  top: 78px;
  text-align: center;
  cursor: pointer;
}

#menuControlBtn {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 2px;
  background-color:  rgba(255,255,255,0.25);
  margin-bottom: 8px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#menuControl:hover > #menuControlBtn {
  background-color:  rgba(255,255,255,0.7);
}
#innerMenu table {
  position: absolute;
  width: 100%;
  top:0;
  /*font-family: Arial;*/
  font-size: 12px;
  color: #999;

}
#innerMenu table td {
  text-align: left;
}
#innerMenu table th {
  text-align: right;
}

.lighter {
  color: #aaa;
} 

#bottomWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}


#bottomMenu {

  position: relative;
    top: 0px;
  width: 96%;
  background-color: #222;
  margin: auto;
  height: 96px;
  z-index: 999;
  box-shadow: 0 0 8px #fff;
  border: 4px solid #222;
  border-top: none;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
padding-top:4px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
}

#bottomMenu:hover { 
  box-shadow: 0 0 8px #fff !important;
  opacity:1 !important;
}

#innerBottomMenu {
  height: 99px;
  background-color: #111;
  background-image: linear-gradient(to top, #111111, #1a1a1a, #222222, #2a2a2a, #333333);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: inset 0 0 4px #000;
  text-align: center;
}

#bottomMenuControl {
  position: absolute;
  width: 100%;
  height: 16px;
  background-color:  rgba(0,0,0,0.25);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 0px;
  text-align: center;
  cursor: pointer;
}

#bottomMenuControlBtn {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 2px;
  background-color:  rgba(255,255,255,0.25);
  margin-bottom: 2px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;

}

.linkGroup{
  display: flex;  
  overflow-x: auto;
  overflow-y: hidden;
transform: rotateX(180deg);
margin-left:1px;
margin-right:1px;
}

.videoLink {
  height: 64px;
  width: 114px;
  display: inline-block;
  margin: 8px 4px 4px 4px;
  padding: 0;
  border: 1px solid transparent;
  transform: rotateX(180deg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.videoLink:hover {
    border: 1px solid #999;
}


.videoLink img {
  height: 64px;
  width: 114px; 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  background-color: #555;
  border-radius: 6px;
}
        
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  background-color: #111;
}  

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}  



#leftWrapper {
  position: fixed;
  top: 112px;
  height: 100%;
}


#leftMenu {
  position: relative;
  height: calc(100% - 236px);
  background-color: #222;
  margin: auto;
  width: 256px;
  z-index: 999;
  box-shadow: 0 0 8px #fff;
  border: 4px solid #222;
  border-top: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-top:4px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
  left:0;
}

#leftMenu:hover { 
  box-shadow: 0 0 8px #fff !important;
  opacity:1 !important;

}

#innerLeftMenu {
  height: 100%;
  background-color: #111;
  background-image: linear-gradient(to right, #111111, #1a1a1a, #222222, #2a2a2a, #333333);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: inset 0 0 4px #000;
}

#leftMenuContent {
  position: relative;
  height: 100%;
  display: inline-block;
  width: 233px;
  margin: 2px;
  color: #ddd;
  padding-top: 4px; 
}

#leftMenuControl {
  float:right;
  position: relative;
  height: 100%;
  /*line-height: calc(100% - 236px);*/
  width: 16px;
  background-color:  rgba(0,0,0,0.25);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /*left: 238px;*/
  text-align: center;
  cursor: pointer;
  /*vertical-align: middle;*/
  padding: 0;
  display: inline-block;
}

#leftMenuControlBtn {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 64px;
  top: calc(50% - 32px);
  background-color:  rgba(255,255,255,0.25);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  margin-left: -6px;
}

.menubox {
  padding: 0;
  margin: 4px;
  border:1px solid #666;
  border-radius: 6px;
}
.menubox .menutitle {
  padding: 0;
  background-color: rgba(0,0,0,0.25);
  padding: 2px;
  font-size: 12px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.menubox .sliders {
  display: inline-block;
  width: 150px;
  padding: 4px;
/*  border: 1px solid white;*/
}
.menubox .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 118px; /* Full-width */
    height: 10px; /* Specified height */
    background: #666; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 5px;
    box-shadow: inset 0 0 4px black;
}
.menubox .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px;
    height: 16px;
    background: transparent;
    cursor: pointer; 
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    border:1px solid black;
    box-shadow: inset 0 0 4px black;
}
/*
.menubox .slider.sl-red::-webkit-slider-thumb {
    background: #f00;
}
.menubox .slider.sl-green::-webkit-slider-thumb {
    background: #0f0;
}
.menubox .slider.sl-blue::-webkit-slider-thumb {
    background: #00f;
}*/
.menubox .slider.sl-red {
    background: rgba(255,50,50,0.25);
}
.menubox .slider.sl-green{
    background: rgba(50,255,50,0.25);
}
.menubox .slider.sl-blue {
    background: rgba(50,50,255,0.25);
}
.menubox .colorSquare {
  display: inline-flex;
  width: 48px;
  height: 48px;
  margin-top: 16px;
  margin-right: 10px;
/*  border: 1px solid white;*/
  float: right;
}
.menubox  .sliders .slTitle {
  font-size: 8px;
  display: inline-block;
  float:left;
  width: 32px;
  height:16px;
  line-height: 16px;
  /*padding: 2px;*/
}

#overlayRgba {
  text-align: right;
  font-size: 12px;
  padding: 2px;
}